@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    // background-color: rgba(0, 0, 0, 0.801);
}
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #359381;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: 359381;
}

body {
    background: #f9f9f9;
    overflow-x: hidden;

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 100;

        .Logo {
            font-size: 2em;
            color: #359381;
            pointer-events: none;
        }

        .Navigation {
            margin: 40px;
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: #359381;
                        padding: 6px 15px;
                        border-radius: 20px;
                        margin: 0 10px;
                        font-weight: 600;
                        transition: 0.3s;

                        &:hover,
                        &.active {
                            background-color: #359381;
                            color: #f9f9f9;
                        }
                    }
                }
            }
        }
    }
    .parallax {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 110vh;
        overflow: hidden;

        #text {
            position: absolute;
            font-size: 5em;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            pointer-events: none;
            opacity: 0;
            animation: opacityImg 1s linear forwards;

            @keyframes opacityImg {
                from{
                    opacity: 0;
                    transform: translateY(20px);
                }
                to{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }

    .content {
        position: relative;
        background: #003329;
        padding: 100px;
        h2 {
            font-size: 3em;
            color: #fff;
            margin-bottom: 10px;
        }

        p {
            font-size: 1em;
            font-weight: 300;
            color: #fff;
        }

        .About_Box {
            width: 100;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            div {
                width: 50%;
            }
            div:nth-child(3){
                flex: 3;
            }

            .Img {
                width: 60%;
                height: 400px;
                background-color: #1c1d1d23;
                position: relative;
                border-radius: 15px;
                &::before {
                    content: "";
                    position: absolute;
                    right: -15%;
                    top: -15%;
                    z-index: 3;
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    background-image: url(../Images/img.png);
                    background-position: center;
                    background-size: cover;
                }
            }

            .Text_Content {
                div {
                    width: 100%;

                    h2 {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }

        .Service_Container {
            width: 100%;
            height: auto;
            // background: #131414;

            h2{
                text-align: center;
            }

            .Service_Box {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                .Service {
                    width: 25%;
                    height: 450px;
                    border-radius: 15px;
                    background-color: red;
                    margin: 10px;
                }
            }
        }
    }
}
